{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true, // or at least es6

  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "semi": 2
  }
}
