
{% load static %}
{% load webpack_loader static %}

<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      LeaguesPlanner
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="OSRS Leagues Planner" />
  <meta name="author"
        content="PJ" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->

{% stylesheet_pack 'app' %}
{% javascript_pack 'app' attrs='defer' %}

{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}


<!-- place project specific Javascript in this file -->
{% render_bundle 'app' 'js' attrs='defer' %}
<script src="{% static 'js/planner.js' %}" defer></script>
<script src="{% static 'js/tasks.js' %}" defer></script>

<style>
  [x-cloak] {display: none !important;}
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

{% endblock javascript %}
</head>
<body class="h-full">
  {% block body %}
  <main class="h-screen">
    {% block main %}
      {% block content %}
      {% endblock content %}
    {% endblock main %}
  </main>
  {% endblock body %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}  
</body>
</html>
