
{% load static %}
{% load webpack_loader static %}

<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      LeaguesPlanner
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="OSRS Leagues Planner" />
  <meta name="author"
        content="PJ" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->

{% stylesheet_pack 'app' %}
{% javascript_pack 'app' attrs='defer' %}

{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}


<!-- place project specific Javascript in this file -->
{% render_bundle 'app' 'js' attrs='defer' %}
<script src="{% static 'js/planner.js' %}" defer></script>
<script src="{% static 'js/tasks.js' %}" defer></script>

<style>
  [x-cloak] {display: none !important;}
</style>

{% endblock javascript %}
</head>
<body class="h-full">
  {% block body %}
  <div class="h-screen">
    <div class="mx-auto">
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">LeaguesPlanner</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'planner:home' %}">Planner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                  href="{% url 'users:detail' request.user.pk %}">My Profile</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
            {% endif %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div>
        <main class="-mt-24 pb-8">
          <div class="mx-auto">
            <h1 class="sr-only">Leagues Planner</h1>
            {% block main %}
              {% block content %}
              {% endblock content %}
            {% endblock main %}
          </div>
        </main>
      </div>
    </div>
  </div>
  {% endblock body %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}  
</body>
</html>
