        <div class="mt-6 flex justify-end space-x-2">
          <button type="button" x-on:click="$store.{{ modal_name }}.toggle()" class="relative flex items-center justify-center gap-2 whitespace-nowrap rounded-lg border border-transparent bg-transparent px-4 py-2 text-gray-800 hover:bg-gray-800/10">
            Cancel
          </button>

          <button type="button" x-on:click="$store.{{ modal_name }}.toggle()" class="relative flex items-center justify-center gap-2 whitespace-nowrap rounded-lg border border-transparent bg-gray-800 px-4 py-2 text-white hover:bg-gray-900">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
