<div
  class="modal fade"
  id="relicModal"
  tabindex="-1"
  aria-hidden="true"
  x-data
  x-cloak
  x-show="$store.plannerModals?.isOpen('relicModal')"
  :class="$store.plannerModals?.isOpen('relicModal') ? 'show d-block' : ''"
  @click.self="$store.plannerModals?.close('relicModal')"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">Manage League Tiers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="small text-muted">
          Tiers are unlocked when you add a <em>Tier Unlock</em> task. A new XP multiplier takes effect from that task onward.
        </p>
        <table class="table table-sm table-bordered" id="tiers-table">
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Points Required</th>
              <th>XP Multiplier</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tiers-tbody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
