<template id="task-list-template">
  <h5 class="text-gray-700 font-medium text-lg mb-4">Select a Task</h5>
  <ul class="space-y-2 max-h-96 overflow-y-scroll bg-gray-100 p-4 rounded-lg">
    {% for task in task_list %}
    <li class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-4 py-2 shadow-sm hover:border-gray-400 hover:bg-gray-100">
      <div class="min-w-0 flex-1">
        <button class="w-full">
          <div class="flex justify-between">
            <span aria-hidden="true" class="absolute inset-0"></span>
            <p class="text-sm font-medium text-gray-900">{{ task.name }}</p>
            <p class="truncate text-sm text-gray-500">
              <span>+</span>
              <span>{{ task.league_points }}</span>
              <span>pts </span>
            </p>
          </div>
        </button>
      </div>
    </li>
    {% endfor %}
  </ul>  
</template>
