<template id="teleport-template">
  <form>
    <h5 class="text-gray-700 font-medium text-lg mb-4">Add Teleport</h5>

    <div>
      <label for="teleport-description" class="text-sm text-gray-600">Description</label>
      <input type="text" id="teleport-description" x-model="teleportDescription" class="ml-1 p-1 border border-gray-300 rounded w-full" placeholder="e.g. Teleport to Lumbridge">
    </div>

    <div class="mt-4 flex items-end">
      <button type="button"
        @click="addTeleport(teleportDescription)"
        class="relative flex items-center justify-center gap-2 whitespace-nowrap rounded-lg border border-transparent bg-gray-800 px-4 py-2 text-white hover:bg-gray-900 disabled:cursor-not-allowed disabled:bg-gray-400">
        Confirm
      </button>
    </div>
  </form>
</template>
